.popup {
	padding: 10px 20px 5px 20px;
	width: 360px;
	border: 2px solid #E7FFB0;
	color: black;
}

.popupHeader {
	font-size: 20px;
}

.inputwrap{
	text-align: right;
}

.create,
.call,
.incident,
.change,
.request,
.search,
.queues,
.queue1,
.queue2,
.queue3,
.queue4,
.lists,
.list1,
.list2,
.list3,
.list4{
	display: none;
}

.popupFooter {
	text-align: right;
	font-style: italic;
}